AhorcadoCliente/Connected Services/ServiciosAhorcado/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicios.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicios.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="JugadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApellidoMaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApellidoPaterno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaDeNacimiento" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Puntaje" type="xs:int" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JugadorDTO" nillable="true" type="tns:JugadorDTO" />
  <xs:complexType name="ArrayOfJugadorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="JugadorDTO" nillable="true" type="tns:JugadorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfJugadorDTO" nillable="true" type="tns:ArrayOfJugadorDTO" />
  <xs:complexType name="ArrayOfCategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoriaDTO" nillable="true" type="tns:ArrayOfCategoriaDTO" />
  <xs:complexType name="CategoriaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreIngles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoriaDTO" nillable="true" type="tns:CategoriaDTO" />
  <xs:complexType name="ArrayOfDificultadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DificultadDTO" nillable="true" type="tns:DificultadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDificultadDTO" nillable="true" type="tns:ArrayOfDificultadDTO" />
  <xs:complexType name="DificultadDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreIngles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DificultadDTO" nillable="true" type="tns:DificultadDTO" />
  <xs:complexType name="ArrayOfPalabraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PalabraDTO" nillable="true" type="tns:PalabraDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPalabraDTO" nillable="true" type="tns:ArrayOfPalabraDTO" />
  <xs:complexType name="PalabraDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescripcionIngles" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="IdDificultad" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreIngles" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PalabraDTO" nillable="true" type="tns:PalabraDTO" />
  <xs:complexType name="ArrayOfPartidaDisponibleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartidaDisponibleDTO" nillable="true" type="tns:PartidaDisponibleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartidaDisponibleDTO" nillable="true" type="tns:ArrayOfPartidaDisponibleDTO" />
  <xs:complexType name="PartidaDisponibleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCreacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IdJugadorAnfitrion" type="xs:int" />
      <xs:element minOccurs="0" name="IdPartida" type="xs:int" />
      <xs:element minOccurs="0" name="Idioma" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreDificultad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombrePalabra" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsuarioAnfitrion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartidaDisponibleDTO" nillable="true" type="tns:PartidaDisponibleDTO" />
  <xs:complexType name="ArrayOfHistorialPartidaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HistorialPartidaDTO" nillable="true" type="tns:HistorialPartidaDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistorialPartidaDTO" nillable="true" type="tns:ArrayOfHistorialPartidaDTO" />
  <xs:complexType name="HistorialPartidaDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dificultad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Resultado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HistorialPartidaDTO" nillable="true" type="tns:HistorialPartidaDTO" />
</xs:schema>