AhorcadoCliente/Connected Services/ServiciosAhorcado/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8082/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicios.Dtos" />
  <xs:import schemaLocation="http://localhost:8082/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="RegistrarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="jugador" nillable="true" type="q1:JugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="jugador" nillable="true" type="q2:JugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarJugadorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosJugadores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodosLosJugadoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerTodosLosJugadoresResult" nillable="true" type="q3:ArrayOfJugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contrasena" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="IniciarSesionResult" nillable="true" type="q4:JugadorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerCategoriasResult" nillable="true" type="q5:ArrayOfCategoriaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDificultades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDificultadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerDificultadesResult" nillable="true" type="q6:ArrayOfDificultadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoriaYDificultad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCategoria" type="xs:int" />
        <xs:element minOccurs="0" name="idDificultad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPalabrasPorCategoriaYDificultadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerPalabrasPorCategoriaYDificultadResult" nillable="true" type="q7:ArrayOfPalabraDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="idPalabra" type="xs:int" />
        <xs:element minOccurs="0" name="idioma" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrearPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CrearPartidaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugadorActual" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPartidasDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerPartidasDisponiblesResult" nillable="true" type="q8:ArrayOfPartidaDisponibleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseAPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element minOccurs="0" name="usernameInvitado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnirseAPartidaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnirseAPartidaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntentarLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q9:char" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IntentarLetraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IntentarLetraResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPalabra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerEstadoPalabraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerEstadoPalabraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialDeJugador">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idJugador" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerHistorialDeJugadorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Servicios.Dtos" minOccurs="0" name="ObtenerHistorialDeJugadorResult" nillable="true" type="q10:ArrayOfHistorialPartidaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDescripcionPalabra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPartida" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDescripcionPalabraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerDescripcionPalabraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarJugadorUnido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usernameInvitado" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarIntentoLetra">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="letra" type="q11:char" />
        <xs:element minOccurs="0" name="acierto" type="xs:boolean" />
        <xs:element minOccurs="0" name="estadoActualPalabra" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotificarFinPartida">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gano" type="xs:boolean" />
        <xs:element minOccurs="0" name="mensaje" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>